# Ignore environment files
.env

# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore virtual environment
venv/
myenv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore compiled code
*.class
*.o
*.so
